@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #fff;
}

body {
    height: 100vh;
    background: url("../assets/background1.jpeg") no-repeat center / cover;
    padding: 50px 5%;
    line-height: 1.6;
    overflow: hidden;
}

.container {
    position: relative;
    height: 100%;
    background: rgba(255, 255, 255, .1);
    border: 2px solid rgba(255, 255, 255, .1);
    border-radius: 30px;
    backdrop-filter: blur(30px);
    transform: scale(0);
    animation: zoom-in 1s ease forwards;
    overflow: hidden;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

.container2 {
    overflow: auto;
    flex-grow: 1;
    scrollbar-width: 0;
    scrollbar-color: transparent;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}

@keyframes zoom-in {
    100% {
        transform: scale(1);
    }
}

header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.animated {
    transform: translateY(30px);
    opacity: 0;
    animation: slide-in 1s ease forwards;
    animation-delay: 1s;
}

@keyframes slide-in {
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.logo {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    border-bottom: 2px solid transparent;
    transition: .5s;
}

.navbar a:hover,
.navbar a.active {
    border-color: #fff;
}

.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    gap: 2rem;
    padding: 50px 5% 0;
    color: #fff;
    animation-delay: 1.5s;
}

.contact_us {
    margin-top: 2rem;
    box-sizing: border-box;
    overflow: auto;
    flex-grow: 1;
    scrollbar-width: 0;
    scrollbar-color: transparent;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headind {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    text-align: center;
}

.underline {
    width: 13rem; 
    height: 0.5rem; 
    background: #fff;
    border-radius: 9999px;
    margin-bottom: 2rem;
}

form {
    margin-top: 5vmin;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 80%;
}

@media (min-width: 1024px) {
    .grid-two-cols {
      grid-template-columns: repeat(2, 1fr);
    }
}

.form_container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input {
    height: 40px;
    background: rgba(255, 255, 255, .1);
    border: 2px solid rgba(255, 255, 255, .1);
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
    transition: .5s;
}

input:hover,textarea:hover {
    border: 2px solid #fff;
    outline:0px none transparent;
}



input::placeholder,
textarea::placeholder {
    color: #fff;
}

textarea {
    height: 190px;
    width: 400px;
    margin-top: 20px;
    background: rgba(255, 255, 255, .1);
    border: 2px solid rgba(255, 255, 255, .1);
    border-radius: 5px;
    padding: 10px;
    transition: .5s;
}

.Send-btn {
    height: 40px;
    width: 80%;
    background: rgba(255, 255, 255, .1);
    border: 2px solid rgba(255, 255, 255, .1);
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
    transition: .5s;
}

.Send-btn:hover {
    background: #fff;
    box-shadow: 0 0 10px #fff;
    color: #333;
}