@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: url("../assets/background1.jpeg") no-repeat center / cover;
    padding: 50px 5%;
    color: #fff;
    height: 100vh;
}

.container {
    max-width: 1200px;
    margin: auto;
    position: relative;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    backdrop-filter: blur(30px);
    transform: scale(0);
    animation: zoom-in 1s ease forwards;
    overflow: hidden;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

@keyframes zoom-in {
    100% {
        transform: scale(1);
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 5%;
}

.logo {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    border-bottom: 2px solid transparent;
    transition: 0.5s;
}

.navbar a:hover,
.navbar a.active {
    border-color: #fff;
}

.animated {
    transform: translateY(30px);
    opacity: 0;
    animation: slide-in 1s ease forwards;
    animation-delay: 1s;
}

@keyframes slide-in {
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.services {
    text-align: center;
    padding: 50px 5%;
    overflow: auto;
    flex-grow: 1;
    scrollbar-width: 0;
    scrollbar-color: transparent;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.services-content h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.service-card {
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    transition: transform 0.3s ease;
    text-align: center;
}

.service-card:hover {
    transform: scale(1.05);
}

.service-card i {
    font-size: 40px;
    color: #64ffda;
    margin-bottom: 15px;
}

.service-card h3 {
    margin-bottom: 10px;
    font-size: 24px;
}

.service-card p {
    font-size: 16px;
    color: #ccd6f6;
}